<div id="resultadoAtendimento" data-role="view" data-title="Top Line" data-init="editorViewInit" data-show="showAtendimento" data-layout="default" data-model="viewModel">
	<div data-role="header">
		<div data-role="navbar">
			<a data-role="button" data-align="left" data-bind="events: {click: cancelarAtendimento}">Cancelar</a>
			<span data-role="view-title"></span>
			<a data-role="button" data-align="right" data-bind="events: { click: salvarAtendimento }">Gravar</a>
		</div>
	</div>
	<ul id="form" data-role="listview" data-style="inset" data-type="group">
		<div class="mobile-fila-titulo">Atendimento</div>

		<li>
			<ul>
				<li>
					<h2 data-bind="text:  vendedorSelecionado.ColNome">
						<span>Teste</span>
					</h2>
					<img data-bind="srcPath: vendedorSelecionado.ColFoto"/>
				</li>
			</ul>
		</li>

		<li>
			<ul>
				<li>
					<label>
						Vendeu
						<input id="chkVendeu" type="checkbox" data-role="switch" data-on-label="Sim" data-off-label="Não" data-change="switchChange" checked>
					</label>
				</li>
			</ul>
		</li>

		<li>
			Dados da Venda
			<ul>

				<li>
					<label>
						Valor da Venda
						<input id="RepValor" name="RepValor" type="number" required="required" data-bind="value: atendimento.RepValor" />
					</label>
				</li>
				<li>
					<label>
						Qtde Total de Peças
						<input id="RepQtde" name="RepQtde" type="number" required="required" data-bind="value: atendimento.RepQtde"/>
					</label>
				</li>

			</ul>

		</li>

		<!--
		<li>
		<ul>
		<h1>
		Total: <span  class="total" data-bind="text: total"></span>
		</h1>
		</ul>
		</li>
		-->

	</ul>
</div>

<script>

    function switchChange(e) {
        alert("pqp");
        console.log("switch value was changed to " + (e.checked ? "checked" : "unchecked"));
    }
    
    
</script>
