<div id="resultadoAtendimento" data-role="view" data-title="Top Line" data-init="editorViewInit" data-show="showAtendimento" data-layout="default" data-model="viewModel">
	<div data-role="header">
		<div data-role="navbar">
			<a data-role="button" data-align="left" data-bind="events: {click: cancelarAtendimento}">Cancelar</a>
			<span data-role="view-title"></span>
			<button data-role="button" data-align="right" data-bind="events: { click: salvarAtendimento }">Gravar</button>
		</div>
	</div>
	<ul id="form" data-role="listview" data-style="inset" data-type="group">
		<div class="mobile-fila-titulo">Atendimento</div>

		<div data-role="content">
			<aside>
				<img data-bind="srcPath: vendedorSelecionado.ColFoto"/>
                <span data-bind="text:  vendedorSelecionado.ColNome"/>
			</aside>
		</div>

		<li>
			<ul>
				<li>
					<label>
						Vendeu
						<input id="chkVendeu" type="checkbox" data-role="switch" checked >
					</label>
				</li>
			</ul>
		</li>

		<li>
			Dados da Venda
			<ul> 
       
				<li>
					<label>
						Valor Venda
						<input id="RepValor" name="ValorVenda" type="number" required="required" data-bind="value: atendimento.RepValor" />
					</label>
				</li>
				<li>
					<label>
						Qtde de Peças
						<input id="RepQtde" name="QtdeDePecas" type="number" required="required" data-bind="value: atendimento.RepQtde"/>
					</label>
				</li>

			</ul>

		</li>

	</ul>
	<!--<a id="btnCreate" data-role="button" type="button" data-bind="events: {click: salvarAtendimento}">Salvar</a>
	<a id="btnCancel" data-role="button" type="button" data-bind="events: {click: cancelarAtendimento}">Cancelar</a>-->
</div>
