<div data-role="view" id="Configuracoes" data-title="Configurações" data-layout="mobile-view" >
	<header data-role="header">
		<div data-role="navbar">
			<a class="nav-button" data-align="left" data-role="backbutton">Voltar</a>
			<span data-role="view-title"></span>
		</div>
	</header>
	<div id="configContents" data-role="content">
		<!-- Lista de opções de configurações-->
		<ul data-role="listview" data-style="inset" data-type="group">

			<li>
				<ul>
					<li data-icon="globe">
						<a>Cadastro de Loja</a>
					</li>
				</ul>

			</li>

			<li>
				<ul>
					<li data-icon="globe">
						<a>Cadastro de Colaboradores</a>
					</li>
				</ul>

			</li>

			<li>
				Cadastro de Parâmetros
				<ul>
					<li data-icon="toprated">
						<a>Escala de Trabalho</a>
					</li>
					<li data-icon="toprated">
						<a>Horário de funcionamento</a>
					</li>
				</ul>
			</li>
		</ul>

	</div>

</div>
