<div data-role="view" id="Configuracoes" data-title="Top Line" data-title="Detail Buttons">
	<header data-role="header">
		<div data-role="navbar">
			<a href="views/VForaTurnoView.html" class="nav-button" data-align="left" data-role="backbutton">Voltar</a>
			<span data-role="view-title"></span>
		</div>
	</header>
	<div id="configContents" data-role="content">
		<!-- Lista de opções de configurações-->
		<ul data-role="listview" data-style="inset" data-type="group">
         
			<li>Configuração
				<ul>
					<li>
						<a href="views/ConsultaLojaView.html" data-role="detailbutton" data-style="detaildisclose">Cadastro de Loja</a>
					</li>
					<li>
						<a href="#" data-role="detailbutton" data-style="detaildisclose">Cadastro de Colaboradores</a>
					</li>
					<li>
						<a href="#" data-role="detailbutton" data-style="detaildisclose">Escala de Trabalho</a>
					</li>
					<li>
						<a href="#" data-role="detailbutton" data-style="detaildisclose">Horário de Funcionamento</a>
					</li>
				</ul>

			</li>
		</ul>

	</div>

</div>
