<div data-role="view" id="lojasView" data-title="Loja" data-show="getLojasShow" data-model="lojaViewModel">
	<header data-role="header">
		<div data-role="navbar">
			<a id="buttonAddNewLoja" data-role="button" href="views/CadastroLojaView.html" 
			   data-align="right" data-icon="add"></a>
			<span data-role="view-title"></span>
		</div>
	</header>

	<!--details view-->
	<div id="lojaViewContent" data-role="content" data-title="Lojas" data-layout="default">
		<ul id="info" data-role="listview" data-style="inset">
			<li>
				Cnpj: <span data-bind="text: lojas[0].LOJ_CNPJ"></span>
			</li>
			<li>
				Codigo da Loja: <span data-bind="text: lojas[0].LOJ_CODIGO"></span>
			</li>
			<li>
				Razao Social: <span data-bind="text: lojas[0].LOJ_RAZAOSOCIAL"></span>
			</li>
			<li>
				Nome Fantasia: <span data-bind="text: lojas[0].LOJ_NOMEFANTASIA"></span>
			</li>
            
            <li>
				DDD: <span data-bind="text: lojas[0].LOJ_RAZAO_SOCIAL"></span>
			</li>
			<li>
				Inativo: <span data-bind="text: lojas[0].LOJ_NOMEFANTASIA"></span>
			</li>
            
		</ul>

	</div>

</div>

<script>
    function getLojasShow(){
        onLojasShow();
    }
    
</script>

