<div data-role="view" id="lojasView" data-title="Loja" data-show="getLojas" data-model="lojaViewModel">
	<header data-role="header">
		<div data-role="navbar">
			<a id="buttonAddNewLoja" data-role="button" href="views/CadastroLoja.html" 
			   data-align="right" data-icon="add"></a>
			<span data-role="view-title"></span>
		</div>
	</header>

	<div id="lojaViewContent" data-role="content">
		<!-- List of cards -->
		<ul class="lojasListWrapper" data-role="listview" data-style="inset" data-type="group">
			<li>
				<ul id="lojasList" data-role="listview" data-bind="source: lojas" data-template="lojasListTemplate">
				</ul>
			</li>
		</ul>
	</div>
</div>

<script type="text/x-kendo-template" id="lojasListTemplate">
	<a data-role="listview-link">
		<div>
			<span>Loja: </span>
			<span>${LojNomeFantasia}</span>
		</div>
		<div class="clear"></div>
	</a>
</script>