<div data-role="view" id="tiposMovView" data-show="showTiposMovtoSaida" data-title="Top Line" data-model="viewModel">
	<header data-role="header">
		<div data-role="navbar">
			<a href="views/VFilaView.html" class="nav-button" data-align="left" data-role="backbutton">Voltar</a>
			<span data-role="view-title"></span>
		</div>
	</header>

	<div class="mobile-fila-titulo">
		<h4 data-bind="innerText: vendedorSelecionado.ColNome"></h4>
	</div>
	<ul id="lstMotivosSaida" data-bind="source: dsTiposMovto" data-role="listview" data-auto-bind="false" data-style="inset" data-template="tpTiposMovto"></ul>
</div>

<script type="text/x-kendo-template" id="tpTiposMovto">
	<a class="details-link" data-role="listview-link">
		#:TmoDescricao#
	</a>
</script>
