<div id="vdentroFila" data-role="view" data-layout="mobile-tabstrip" data-show="vFilaShow" data-model="vFilaViewModel">
	<div class="mobile-fila-titulo">Dentro da Fila</div>
	<ul id="ldentroFila" data-bind="source: vFila" data-role="listview" data-auto-bind="false" data-template="tdentroFila" class="mobile-fila"></ul>
	<ul id="actAcaoVendedorFila" data-role="actionsheet" data-cancel="Cancelar" data-style="inset">
		<li class="km-actionsheet-title">Selecione operação:</li>
		<li>
			<a data-action="showResultadoAtendimento">Resultado Atendimento</a>
		</li>
		<li>
			<a data-action="showMotivosSaidaFila">Sair fila da Vez</a>
		</li>
	</ul>
</div>

<script type="text/x-kendo-template" id="tdentroFila">
	<a data-rel="actionsheet" href="\\#actAcaoVendedorFila" data-actionsheet-context="#= LojaColId #">
		<img src="${ColFoto}" />
		<h5>${ColApelido}</h5>
	</a>
</script>

<script>
    
	function vFilaShow() {
		onVFilaShow();
	}    
</script>