<div id="vforaTurno" data-role="view" data-layout="mobile-tabstrip" data-show="showVendedoresForaTurno" data-model="viewModel">
	<div class="mobile-fila-titulo">Fora do Turno</div>
	<ul id="lforaTurno" data-bind="source: dsVendForaTurno" data-role="listview" data-auto-bind="false" data-template="tforaTurno" class="mobile-fila"></ul>
</div>

<script type="text/x-kendo-template" id="tforaTurno">
	<a class="details-link" data-role="listview-link">
		<img src="${ColFoto}" />
		<h5>${ColApelido}</h5>
	</a>
</script>
