<div id="vforaFila" data-role="view" data-layout="mobile-tabstrip" data-show="showVendedoresForaFila" data-model="viewModel">
	<div class="mobile-fila-titulo">Fora da Fila</div>
	<ul id="lforaFila" data-bind="source: dsVendForaFila" data-role="listview" data-auto-bind="false" data-template="tforaFila" class="mobile-fila"></ul>
</div>

<script type="text/x-kendo-template" id="tforaFila">
	<a data-rel="modalview" href="\\#modalview-login">
		<!--<img src="${ColFoto}" />-->
		<img src="data:image/png;base64,${ColFoto}"/>
		<h5>${ColApelido}</h5>
	</a>
</script>
